<?xml version="1.0" encoding="utf-8" ?>
<root>
  <Skin Name="Blue">  
    <ControlActiveFilterBackColor>a1f7ab</ControlActiveFilterBackColor>
    <buttonLocationY>4</buttonLocationY>
    <minimizeButtonLocationDeltaX>73</minimizeButtonLocationDeltaX>
    <maximizeButtonLocationDeltaX>48</maximizeButtonLocationDeltaX>
    <ButtonsBarBorderColor>88B0E4</ButtonsBarBorderColor>
  </Skin>
</root>